<h1>Welcome to Westeros!</h1>

<div class="buttonDiv" align="center">
<button>Characters</button>
<button>Houses</button>
<button>Books</button>
</div>

<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Characters: </label>
    <input type="text" #hobby>
  </div>
</form>

<ul>
  <li *ngFor="let hobby of hobbies; let i = index">{{i+1}} : {{hobby}}</li>
</ul>

<ul>
  <li *ngFor="let ch of ss">{{ch}}</li>
</ul>

<ul>
  <li>{{char.name}}</li>
  <li *ngFor="let ch of character">{{ch.name}}</li>
</ul>
